<%- include('partials/header'); -%>

<form method="POST" enctype="multipart/form-data" id="reg_form">
    <input type="hidden" name="user_id" id="user_id" value="<%= user._id %>">
    <div class="row">
        <div class="col-md-6">
            <div class="circle">
                <% if(user.profile_pic_URL) { %>
                <img class="profile-pic" src="<%= user.profile_pic_URL %>">
                <% } else { %>
                <img class="profile-pic" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
                <% } %>
            </div>
            <div class="p-image">
                <input class="file-upload" type="file" accept="image/*" />
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label for="name" class="form-label">Name*</label>
        <input type="text" class="form-control" value="<%= user.name %>" name="name" id="name" />
        <div class="name error"></div>
    </div>

    <div class="mb-3">
        <label for="surname" class="form-label">Surname*</label>
        <input type="text" class="form-control" value="<%= user.surname %>" id="surname" />
        <div class="surname error"></div>
    </div>

    <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        <div class="input-group">
            <span class="input-group-text">
                <span class="iconify" data-icon="flag:it-4x3"></span>
                <strong>+39</strong>
            </span>
            <input type="tel" class="form-control" name="phone_number" id="phone_number" placeholder="Insert a phone number" value="<%=user.phone_number %>" autocomplete="off">
        </div>
        <div class="phone error"></div>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email*</label>
        <input type="email" class="form-control" value="<%=user.email %>" disabled name="email" id="email" />
        <div class="email error"></div>
    </div>

    <div class="mb-3">
        <label for="date_of_birth" class="form-label">Date of Birth</label>
        <% if(user.birth_date) { 
            let date = new Date(user.birth_date);
            let day = date.getDate().toString().padStart(2, '0');
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let year = date.getFullYear();
            let formattedDate = `${year}-${month}-${day}`; %>
        <input type="date" class="form-control" value="<%=formattedDate%>" name="date_of_birth" id="date_of_birth" />
        <% } else { %>
        <input type="date" class="form-control" name="date_of_birth" id="date_of_birth" />
        <% } %>
        <div class="date error"></div>
    </div>

    <% if(user.password) { %>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" id="change_password" name="change_password">
        <label class="form-check-label" for="change_password">Change password</label>
    </div>
    <div class="password_ins" hidden>
        <div class="mb-3">
            <label for="old_password" class="form-label">Old Password*</label>
            <input type="password" class="form-control" placeholder="Enter a password" id="old_password" autocomplete="new-password" />
            <div class="old_password error"></div>
        </div>
        <div class="mb-3">
            <label for="new_password" class="form-label">New Password*</label>
            <input type="password" class="form-control" placeholder="Enter a password" id="new_password" autocomplete="new-password" />
        </div>
    </div>
    <div class="password error" hidden>
        <p id="length" class="invalid">Minimum 8 characters </p>
        <p id="letter" class="invalid">A uppercase letter</p>
        <p id="number" class="invalid">A number</p>
        <p id="special" class="invalid">A special character</p>
    </div>
    <% } %>

    <button type="submit" class="btn btn-primary" id="update_button">Update</button>

    <div class="message"></div>
</form>

<script src="/countries.js" defer async></script>

<script>

var readURL = function(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('.profile-pic').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
    }
}

    $('.circle').hover(function() {
        $(this).css('cursor', 'pointer');
    })

    $(".circle").on('click', function() {
       $(".file-upload").click();
    });
    

    $(".file-upload").on('change', function(){
        readURL(this);
    });
    
    $(".upload-button").on('click', function() {
       $(".file-upload").click();
    });

    $('#change_password').change(function(){
        if($(this).is(':checked')){
            $('.password_ins').removeAttr('hidden');
            $('.old_password.error').html('');
            $('#old_password').removeClass('error-input');
            $('.new_password.error').html('');
            $('#new_password').removeClass('error-input');
            $('.password.error').removeAttr('hidden');
        } else {
            $('.password_ins').attr('hidden', true);
            $('.password.error').attr('hidden', true);
        }
    });

    $('#name').keyup(function(){
        $('.name.error').html('');
        $('#name').removeClass('error-input');
    });

    $('#surname').keyup(function(){
        $('.surname.error').html('');
        $('#surname').removeClass('error-input');
    });

     $('#new_password').keyup(function(){

        if($('#new_password').val().length < 8){
            $('#length').removeClass('valid');
            $('#length').addClass('invalid');
        } else {
            $('#length').removeClass('invalid');
            $('#length').addClass('valid');
        }

        if($('#new_password').val().match(/[A-Z]/)){
            $('#letter').removeClass('invalid');
            $('#letter').addClass('valid');
        } else {
            $('#letter').removeClass('valid');
            $('#letter').addClass('invalid');
        }

        if($('#new_password').val().match(/[0-9]/)){
            $('#number').removeClass('invalid');
            $('#number').addClass('valid');
        } else {
            $('#number').removeClass('valid');
            $('#number').addClass('invalid');
        }

        if($('#new_password').val().match(/[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/)){
            $('#special').removeClass('invalid');
            $('#special').addClass('valid');
        } else {
            $('#special').removeClass('valid');
            $('#special').addClass('invalid');
        }
    });

    $('#old_password').keyup(function(){
        $('.old_password.error').html('');
        $('#old_password').removeClass('error-input');
    });


$('#update_button').click(function(e){
        e.preventDefault();
        var error = false;
        
        $('.name.error').html('');
        $('.surname.error').html('');
        $('.email.error').html('');
        $('.old_password.error').html('');
        $('.new_password.error').html('');
        $('.phone.error').html('');
        $('.date.error').html('');

        $('#name').removeClass('error-input');
        $('#surname').removeClass('error-input');
        $('#email').removeClass('error-input');
        $('#new_password').removeClass('error-input');
        $('#old_password').removeClass('error-input');
        $('#phone').removeClass('error-input');
        $('#date_of_birth').removeClass('error-input');

        if($('#name').val() == ''){
            $('.name.error').html('Please enter your name');
            $('#name').addClass('error-input');
            error = true;
        }

        if($('#surname').val() == ''){
            $('.surname.error').html('Please enter your surname');
            $('#surname').addClass('error-input');
            error = true;
        }

        if($('#change_password').is(':checked') &&  typeof $('#old_password').val() != 'undefined' && $('#old_password').val() == ''){
            $('.old_password.error').html('Please enter your old password');
            $('#old_password').addClass('error-input');
            error = true;
        }

        if($('#change_password').is(':checked') && typeof $('#new_password').val() != 'undefined' && !($('#new_password').val().match(/^(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,}$/))){
            $('#new_password').addClass('error-input');
            error = true;
        }


        if(!error) {
            var formData = new FormData();
            formData.append('name', $('#name').val());
            formData.append('surname', $('#surname').val());
            formData.append('email', $('#email').val());

            var file = $('.file-upload')[0].files[0];
            if(file){
                formData.append('profile_pic', file);
            }

            if($('#phone_number').val() != '')
                formData.append('phone_number', $('#phone_number').val());

            if($('#date_of_birth').val() != '')
                formData.append('birth_date', $('#date_of_birth').val());
            
            if($('#change_password').is(':checked') && typeof $('#old_password').val() != 'undefined')
                formData.append('old_password', $('#old_password').val());

            if($('#change_password').is(':checked') && typeof $('#new_password').val() != 'undefined')
            formData.append('new_password', $('#new_password').val());

            $.ajax({
                type: 'PUT',
                data: formData,
                contentType: false,
                processData: false,
                url: '/user/'+$('#user_id').val(),
                success: function(data) {
                    $('#user_name_menu').html(data.user.name);
                    $('.message').html('<p class="success">Profile updated successfully</p>');
                },
                error: function(data) {
                    const err = JSON.parse(JSON.stringify(data.responseJSON.errors));
                    if(err.name){
                        $('.name.error').html(err.name);
                        $('#name').addClass('error-input');
                    }
                    if(err.surname){
                        $('.surname.error').html(err.surname);
                        $('#surname').addClass('error-input');
                    }
                    if(err.email){
                        $('.email.error').html(err.email);
                        $('#email').addClass('error-input');
                    }
                    if(err.old_password){
                        $('.old_password.error').html(err.old_password);
                        $('#old_password').addClass('error-input');
                    }
                    if(err.new_password){
                        $('.password.error').html(err.new_password);
                        $('#password').addClass('error-input');
                    }

                    if(err.phone_number) {
                        $('.phone.error').html(err.phone_number);
                        $('#phone').addClass('error-input');
                    }
                }
            });
        }
    });


</script>

<%- include('partials/footer'); -%>