<link rel="stylesheet" href="/cart.css">
<li><span id="span_cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></span></li>
        <div class="cart-indicator" id="cart-indicator">
          <% if(typeof cart === 'undefined') { %> 
              0 
          <% } else { %> 
            <% let count=0;
            cart.forEach(function(item) { %>
              <% count += item.quantity; 
              });%>
              <%= count %> 
          <% } %>
        </div> <!-- Elemento per mostrare il numero di elementi nel carrello -->

<!-- La sezione del carrello -->
<div id="overlay"></div>
<div id="cartSection" class="cart-section">  <!-- Contenuto del carrello -->  
  <span class="close">&times;</span>  
  <h2 class="h2_cart">Cart Details</h2>
  <ul class="menu__cart">
    <% if(typeof cart === 'undefined') { %> 
        <p>Contenuto del tuo carrello qui...</p>
    <% } else { %> 
    <% cart.forEach(function(event) { %>
        <li class="li_cart" data-id="<%= event.event_id %>">
            <div class="cart-item">
                <img src="<%= event.event_img %>" alt="img event" class="cart-item__image">
                <div class="cart-item__info">
                    <p><%= event.title %></p>
                    <p>Quantity: <%= event.quantity %></p>
                    <p>Price: <%= event.price %></p>
                </div>
            </div>
        </li>
    <% }) } %>
    </ul>
</div>

<script>
  $(document).ready(function() {
  var $btn = $('#span_cart');
  var $indicator = $('#cart-indicator');
  var $cartSection = $('#cartSection');
  var $overlay = $('#overlay');
 
  // Quando il pulsante viene cliccato, mostra la sezione del carrello con l'effetto di transizione
  $btn.on('click', function(event) {
    event.stopPropagation();
    $cartSection.css('display', 'block');
    $overlay.fadeIn(); // Mostra l'overlay
    $cartSection.animate({ 'right': 0 }, 300); // Mostra la sezione del carrello con un'animazione
  });
  $indicator.on('click', function(event) {
    event.stopPropagation();
    $cartSection.css('display', 'block');
    $overlay.fadeIn(); // Mostra l'overlay
    $cartSection.animate({ 'right': 0 }, 300); // Mostra la sezione del carrello con un'animazione
  });
 
  // Chiudi la sezione del carrello quando si clicca sul simbolo "x" o sullo sfondo
  $cartSection.on('click', function(event) {
    if ($(event.target).hasClass('close')) {
      $overlay.fadeOut(); // Nascondi l'overlay
      $cartSection.animate({ 'right': '-100%' }, 300, function() {
        $cartSection.css('display', 'none');
      });
    }
    // Impedisci la chiusura se viene cliccato all'interno del cart-section
    event.stopPropagation();
  });
 
  // Chiudi la sezione del carrello quando si clicca al di fuori di essa
  $(document).on('click', function(event) {
    if (!$cartSection.is(event.target) && $cartSection.has(event.target).length === 0 && event.target !== $btn[0]) {
      $overlay.fadeOut(); // Nascondi l'overlay
      $cartSection.animate({ 'right': '-100%' }, 300, function() {
        $cartSection.css('display', 'none');
      });
    }
  });
});
</script>