<%
// Funzione per formattare la data
function formatDateTime(inputDate) {
    const date = new Date(inputDate);
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');

    return `${year}/${month}/${day}`;
}
%>

<div id="eventModal" class="modal">
  <div class="modal-content">
    <div>
      <span class="close">&times;</span>
    </div>
    <div class="event-details">
      <div class="event-info">
        <div id="eventDetails"></div>
        <label for="ticketQuantity">Ticket Quantity:</label>
        <input type="number" id="ticketQuantity" min="1" value="1">
        <button id="addToCartBtn">Add to Cart</button>
      </div>
      <div class="event-image" id="event-image">
      </div>
    </div>
  </div>
</div>

<div id="successBox" class="success-box">
  <i class="fa-solid fa-check-circle"></i>
  <p></p>
</div>

<div id="warningBox" class="warning-box">
  <i class="fa-solid fa-triangle-exclamation"></i>
  <p></p>
</div>

<section class="container__event">
  <% if(events.length > 0) { %>
  <div class="card__container swiper">
     <div class="card__content">
        <div class="swiper-wrapper">
          <% events.forEach(function(event) { %>
           <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="<%= event.image_URL %>" alt="Event Image" style="width:100%">
              </div>
              <div class="container_info_artist">
                <h4><b><%= event.artist.name %></b></h4>
                <p><%= event.title %></p>
                <p><%= event.city %> - <%= event.site %></p>
              </div>

              <div class="card__data">
                <span><i class="fa-solid fa-calendar"></i> <%= formatDateTime(event.date) %></span>
                <span><i class="fa-solid fa-couch"></i> <%= event.seats %></span>
                <span><i class="fa-solid fa-euro-sign"></i> <%= event.price_for_ticket %></span>

                <a href="#" class="card__button" onclick="openModal('<%= JSON.stringify(event) %>')">View More</a>
              </div>
           </article>
            <% }); %>
        </div>
     </div>

     <!-- Navigation buttons -->
     <div class="swiper-button-next">
      <i class="fa-solid fa-chevron-right"></i>
     </div>
     
     <div class="swiper-button-prev">
      <i class="fa-solid fa-chevron-left"></i>
     </div>

     <!-- Pagination -->
     <div class="swiper-pagination"></div>
  </div>
  <% } else { %>
    <h1>No events found</h1>
  <% } %>
</section>

<script src="/swiper.js"></script>

<script>
  // Function to open the modal and populate it with event details

  function openModal(eventJSON) {
    const event = JSON.parse(eventJSON);
    // Get the event details based on the eventId

    // Populate the modal with event details
    const eventDetails = `
      <h3>${event.artist.name} - ${event.title}</h3>
      <p>Start Date: ${formatDateTime(event.date)}</p>
      <p>Seats Available: ${event.seats}</p>
      <p>Location: ${event.city} - ${event.site}</p>
      <p>Price: ${event.price_for_ticket} € </p>
    `;
    const eventImg = `
      <img src="${event.image_URL}" alt="Event Image" style="width:50%">
    `;

    // Show the modal
    $("#eventDetails").attr("data-event-id", event._id);
    $("#eventDetails").html(eventDetails);
    $("#event-image").html(eventImg);
    $("#eventModal").show();
  }
  
    // Function to close the modal

    $('.close').click(function(){
      $("#eventModal").hide();
    });


    $('#addToCartBtn').click(function(){
      var json = {};
      json.event_id = $("#eventDetails").attr("data-event-id");
      json.qty = parseInt($("#ticketQuantity").val(), 10);
      console.log(json)

      $.ajax({
        type: 'POST',
        data: JSON.stringify(json),
        contentType: 'application/json',
        url: '/cart/add',
        success: function(data) {
          
          if(data.success) {
            $(".cart-indicator").html(parseInt($(".cart-indicator").html(), 10) + data.qty_added);
            if(data.new_item){
              $(".menu__cart").append(`
                <li class="li_cart">
                  <div class="cart-item">
                    <img src="${data.cart[data.cart.length - 1].event_img}" alt="img event" class="cart-item__image">
                    <div class="cart-item__info">
                      <p>${data.cart[data.cart.length - 1].title}</p>
                      <p>Quantity: ${data.cart[data.cart.length - 1].quantity}</p>
                      <p>Price: ${data.cart[data.cart.length - 1].price}</p>
                    </div>
                  </div>
                </li>
              `);

            } else {
              $.each( data.cart, function( index, event ) {  alert( index + ": " + event );
              var event_obj = JSON.parse(JSON.stringify(event));
              if(event_obj.event_id === json.event_id) {
                  $("li[data-id="+json.event_id+"] .cart-item__info p:nth-child(2)").html("Quantity: " + event_obj.quantity );
                }
              });
            }
          }
          showSuccessAnimation(data.cart[data.cart.length - 1].title + " added to cart successfully!");
          console.log(JSON.stringify(data));
        },
        error: function(data) {
          var error = data.responseJSON;
          if(error.code === 'EB001') {
            showErrorModal(data.responseJSON.message);
          }
        }
      });

      $("#eventModal").hide();
    });
  
    function formatDateTime(inputDate) {
      const date = new Date(inputDate);
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toString().padStart(2, '0');
      const day = date.getDate().toString().padStart(2, '0');
      const hours = date.getHours().toString().padStart(2, '0');
      const minutes = date.getMinutes().toString().padStart(2, '0');
      const seconds = date.getSeconds().toString().padStart(2, '0');

      return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
  }

  function showSuccessAnimation(text) {
    var $successBox = $('#successBox');
    $successBox.find('p').text(text);
    $successBox.fadeIn();

    setTimeout(function() {
    $successBox.fadeOut();
  }, 2000); // Nasconde il box di successo dopo 2 secondi
}

function showErrorModal(text) {
  var $warningBox = $('#warningBox');
    $warningBox.find('p').text(text);
    $warningBox.fadeIn();

    setTimeout(function() {
    $warningBox.fadeOut();
  }, 2000); // Nasconde il box di successo dopo 2 secondi
}

// Funzione per chiudere il modal di avviso/errori
$('.close').click(function(){
  $("#errorModal").hide();
});
    
</script>