<%
// Funzione per formattare la data
function formatDateTime(inputDate) {
    const date = new Date(inputDate);
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');

    return `${year}/${month}/${day}`;
}
%>

<div id="eventModal" class="modal">
  <div class="modal-content">
    <div>
      <span class="close">&times;</span>
    </div>
    <div class="event-details">
      <div class="event-info">
        <div id="eventDetails"></div>
        <label for="ticketQuantity">Ticket Quantity:</label>
        <input type="number" id="ticketQuantity" min="1" value="1">
        <button id="addToCartBtn">Add to Cart</button>
      </div>
      <div class="event-image" id="event-image">
      </div>
    </div>
  </div>
</div>

<section class="container__event">
  <% if(events.length > 0) { %>
  <div class="card__container swiper">
     <div class="card__content">
        <div class="swiper-wrapper">
          <% events.forEach(function(event) { %>
           <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="<%= event.image_URL %>" alt="Event Image" style="width:100%">
              </div>
              <div class="container_info_artist">
                <h4><b><%= event.artist.name %></b></h4>
                <p><%= event.title %></p>
                <p><%= event.city %> - <%= event.site %></p>
              </div>

              <div class="card__data">
                <span><i class="fa-solid fa-calendar"></i> <%= formatDateTime(event.date) %></span>
                <span><i class="fa-solid fa-couch"></i> <%= event.seats %></span>
                <span><i class="fa-solid fa-euro-sign"></i> <%= event.price_for_ticket %></span>

                <a href="#" class="card__button" onclick="openModal('<%= JSON.stringify(event) %>')">View More</a>
              </div>
           </article>
            <% }); %>
        </div>
     </div>

     <!-- Navigation buttons -->
     <div class="swiper-button-next">
      <i class="fa-solid fa-chevron-right"></i>
     </div>
     
     <div class="swiper-button-prev">
      <i class="fa-solid fa-chevron-left"></i>
     </div>

     <!-- Pagination -->
     <div class="swiper-pagination"></div>
  </div>
  <% } else { %>
    <h1>No events found</h1>
  <% } %>
</section>

<script src="/swiper.js"></script>

<script>
  // Function to open the modal and populate it with event details

  function openModal(eventJSON) {
    const event = JSON.parse(eventJSON);
    // Get the event details based on the eventId

    // Populate the modal with event details
    const eventDetails = `
      <h3>${event.artist.name} - ${event.title}</h3>
      <p>Start Date: ${formatDateTime(event.date)}</p>
      <p>Seats Available: ${event.seats}</p>
      <p>Location: ${event.city} - ${event.site}</p>
      <p>Price: ${event.price_for_ticket} € </p>
    `;
    const eventImg = `
      <img src="${event.image_URL}" alt="Event Image" style="width:50%">
    `;

    // Show the modal
    $("#eventDetails").attr("data-event-id", event._id);
    $("#eventDetails").html(eventDetails);
    $("#event-image").html(eventImg);
    $("#eventModal").show();
  }
  
    // Function to close the modal

    $('.close').click(function(){
      $("#eventModal").hide();
    });


    $('#addToCartBtn').click(function(){
      var data = {};
      data.event_id = $("#eventDetails").attr("data-event-id");
      data.qty = parseInt($("#ticketQuantity").val(), 10);
      console.log(data)

      $.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: 'application/json',
        url: '/cart/add',
        success: function(data) {
          console.log('success');
          console.log(JSON.stringify(data));
        }
      });

      
      $("#eventModal").hide();
    });

    // Function to add tickets to the cart
    function addToCart() {
      const ticketQuantity = document.getElementById("ticketQuantity").value;
      // Add the ticket quantity to the cart logic here
      // ...
      // Close the modal after adding to cart
      closeModal();
    }
  
    function formatDateTime(inputDate) {
      const date = new Date(inputDate);
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toString().padStart(2, '0');
      const day = date.getDate().toString().padStart(2, '0');
      const hours = date.getHours().toString().padStart(2, '0');
      const minutes = date.getMinutes().toString().padStart(2, '0');
      const seconds = date.getSeconds().toString().padStart(2, '0');

      return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
  }
    
    </script>