<%
// Funzione per formattare la data
function formatDateTime(inputDate) {
    const date = new Date(inputDate);
    const year = date.getFullYear();
    const month = (date.getMonth() + 1).toString().padStart(2, '0');
    const day = date.getDate().toString().padStart(2, '0');

    return `${year}/${month}/${day}`;
}
%>

<section class="container__event">
  <% if(events.length > 0) { %>
  <div class="card__container swiper">
     <div class="card__content">
        <div class="swiper-wrapper">
          <% events.forEach(function(event) { %>
           <article class="card__article swiper-slide">
              <div class="card__image">
                <img src="<%= event.image_URL %>" alt="Event Image" style="width:100%">
              </div>
              <div class="container_info_artist">
                <h4><b><%= event.artist.name %></b></h4>
                <p><%= event.title %></p>
                <p><%= event.city %> - <%= event.site %></p>
              </div>

              <div class="card__data">
                <span><i class="fa-solid fa-calendar"></i> <%= formatDateTime(event.date) %></span>
                <span><i class="fa-solid fa-couch"></i> <%= event.seats %></span>
                <span><i class="fa-solid fa-euro-sign"></i> <%= event.price_for_ticket %></span>

                <a href="/events/<%=event._id %>" class="card__button">View More</a>
              </div>
           </article>
            <% }); %>
        </div>
     </div>

     <!-- Navigation buttons -->
     <div class="swiper-button-next">
      <i class="fa-solid fa-chevron-right"></i>
     </div>
     
     <div class="swiper-button-prev">
      <i class="fa-solid fa-chevron-left"></i>
     </div>

     <!-- Pagination -->
     <div class="swiper-pagination"></div>
  </div>
  <% } else { %>
    <h1>No events found</h1>
  <% } %>
</section>


<!--

<% if(events.length > 0) { %>
    <div class="container_event">
      <% events.forEach(function(event) { %>
        <div class="card" data-id="<%=event._id %>">
          <img src="<%= event.image_URL %>" alt="Event Image" style="width:100%">
          <div class="container_info_artist">
            <h4><b><%= event.artist.name %></b></h4>
            <p><%= event.title %></p>
            <p><%= event.city %> - <%= event.site %></p>
          </div>
          <div class="container_info_event">
            <span><i class="fa-solid fa-calendar"></i> <%= formatDateTime(event.date) %></span>
            <span><i class="fa-solid fa-couch"></i> <%= event.seats %></span>
            <span><i class="fa-solid fa-euro-sign"></i> <%= event.price_for_ticket %></span>
          </div>
        </div>
      <% }); %>
      </div>
    <% } else { %>
      <h1>No events found</h1>
    <% } %>

    -->


    <script src="/swiper.js"></script>