<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="456515688442-f92dp1vudi369d67j8hredi65a6sianu.apps.googleusercontent.com">
  <title>Document</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/nav.js"></script>
  <!--<script src="/swiper.js"></script>-->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/wallet.css">
  <link rel="stylesheet" href="/events.css">
  <link rel="stylesheet" href="/cart.css">


  <!--<link rel="stylesheet" href="/ticket.css"> -->    <!--Non ho ancora capito come gestici i css, ricordami di chiedertelo-->
</head>
<body>
  <nav>
    <h1><a href="/">Event booking</a></h1>
    <input type="text" class="search-input" id="searchInput" placeholder="Search artist..." style="overflow: hidden;">
    <% if(user) { %>
    <div id="drop-menu">
			<ul id="menu">
				<li><a href="/home">Home</a></li>
				<li><a id="user_name_menu" href="/user/<%=user._id%>"><%=user.name %></a></li>
        <li><span id="span_cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></span></li>
        <div class="cart-indicator">
          
          <% if(typeof cart === 'undefined') { %> 
              0 
          <% } else { %> 
            <%=cart.length %> 
          <% } %>
          
        </div> <!-- Elemento per mostrare il numero di elementi nel carrello -->
					<ul>      
          <!-- Manage events solo un utente admin può visualizzarla-->
          <% if(user.role === 1) { %>
            <li><a href="home" class="btn-yellow-hover">Manage events</a></li> <!--Porta alla pagina per modificare, eliminare e inserire eventi--> 
            <% } %>
						<li><a href="/user/<%=user._id%>">My Profile</a></li>
						<li><a href="#">My Bookings</a></li>
            <li><a href="/user/<%=user._id%>/wallet">My Wallet</a></li>
            <li><a href="/logout">Log out</a></li>
					</ul>
			</ul>
		</div>
    <% } else { %>
    <ul>
      <li><a href="/login" class="btn-yellow-hover">Log in</a></li>
      <li><a href="/signup" class="btn-yellow-hover">Sign up</a></li>
    </ul>
    <% } %>
  </nav>

  

<!-- La sezione del carrello -->
<div id="overlay"></div>
<div id="cartSection" class="cart-section">  <!-- Contenuto del carrello -->  
  <span class="close">&times;</span>  
  <p>Contenuto del tuo carrello qui...</p>
</div>

<script>
  $(document).ready(function() {
  var $btn = $('#span_cart');
  var $cartSection = $('#cartSection');
  var $overlay = $('#overlay');
 
  // Quando il pulsante viene cliccato, mostra la sezione del carrello con l'effetto di transizione
  $btn.on('click', function(event) {
    event.stopPropagation();
    $cartSection.css('display', 'block');
    $overlay.fadeIn(); // Mostra l'overlay
    $cartSection.animate({ 'right': 0 }, 300); // Mostra la sezione del carrello con un'animazione
  });
 
  // Chiudi la sezione del carrello quando si clicca sul simbolo "x" o sullo sfondo
  $cartSection.on('click', function(event) {
    if ($(event.target).hasClass('close')) {
      $overlay.fadeOut(); // Nascondi l'overlay
      $cartSection.animate({ 'right': '-100%' }, 300, function() {
        $cartSection.css('display', 'none');
      });
    }
    // Impedisci la chiusura se viene cliccato all'interno del cart-section
    event.stopPropagation();
  });
 
  // Chiudi la sezione del carrello quando si clicca al di fuori di essa
  $(document).on('click', function(event) {
    if (!$cartSection.is(event.target) && $cartSection.has(event.target).length === 0 && event.target !== $btn[0]) {
      $overlay.fadeOut(); // Nascondi l'overlay
      $cartSection.animate({ 'right': '-100%' }, 300, function() {
        $cartSection.css('display', 'none');
      });
    }
  });
});
</script>